<template>
    <div>
        <codemirror @changes="clearMark" @ready="ready" ref="CM" :options="cmOptions" v-model="$root.$data.code"></codemirror>
    </div>
</template>

<script lang="python">

class Component:
    def __init__(self):
        self.value = ''
        self.cmOptions = {
            'theme': 'mdn-like',
            'mode': 'javascript',
            'lineNumbers': True,
            'lint': { 'options': { 'esversion': 8 }},
            'styleActiveLine': True,
            'autoCloseBrackets': True,
            'matchBrackets': True
        }
        self.autosave = True
        self.dark = None
        self.mark_location = None

    def ready(self, cm):
        self.cm = cm

    def renderMark(self):
        if self.marker:
            self.marker.clear()
        if self.mark_location:
            row, col = self.mark_location
            word = self.cm.findWordAt(CodeMirror.Pos(row, col))
            word.anchor.line = parseInt(word.anchor.line)
            word.head.line = parseInt(word.head.line)
            self.marker = self.cm.getDoc().markText(
                word.anchor, word.head,
                {'className': 'error-marker'})

    def DESTROYED(self):
        self['$root']['$off']('dark-changed', self.td)
        self['$root']['$off']('error', self.error)
        self['$root']['$data'].markLocation = self.mark_location

    def MOUNTED(self):
        self.renderMark = _.debounce(self.renderMark, 200, {'trailing':True})
        self.clearMark = _.debounce(self.clearMark, 100, {'leading':True})
        self.mark_location = self['$root']['$data'].markLocation
        self.dark = self['$root'].dark
        self.root = self['$root']['$data']
        self['$root']['$on']('error', self.error)
        def toggleDark(dark):
            self.dark = dark
        self.td = toggleDark
        self['$root']['$on']("dark-changed", self.td)
        self.codemirror = self['$refs'].CM.codemirror
        self.codemirror.focus()
        window.cmc = self

    def error(self, stack):
        self.mark_location = None
        if stack.line and stack.column:
            self.mark_location = (stack.line, stack.column)

    def clearMark(self):
        self.root.isChangedCode = True
        self.mark_location = self['$root']['$data'].markLocation = None
        if self.marker:
            self.marker.clear()

    def WATCH_mark(self, newMark, oldMark, name='mark_location'):
        self.renderMark()

    def WATCH_dark(self, dark, oldVal, name='dark'):
        if dark:
            self.cm.setOption('theme', 'darcula')
        else:
            self.cm.setOption('theme', 'mdn-like')


</script>

<style scoped>
  :scope {
    flex: 1 1 auto;
    display: flex;
    overflow-y: auto;    
    height: 100%;
  }
</style>

<style>
.vue-codemirror {
    flex: 1 1 auto;
    /* padding: 10px 0px; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.CodeMirror {
    flex: 1 1 auto;
    font-size: 12pt;
}
.CodeMirror-gutters {
    border-left: none !important;
}
.error-marker{
    background-color: rgba(255, 20, 0, 0.2) !important;
}
.CodeMirror-lint-mark-error {
    background-color: rgba(255, 20, 0, 0.2) !important;
    background-image: none !important;
}
.CodeMirror-lint-mark-warning {
    background-color: rgba(255, 20, 0, 0.2) !important;
    background-image: none !important;
}
</style>
