<template>
    <div>
        <!-- Should handle all app state changes (headless component) -->
    </div>
</template>

<script lang="python">

def fsOpMade(result):
    if result:
        console.log(result)

class Component:
    def __init__(self, code, map):
        self._params = {}
        self.root = {}

    def MOUNTED(self):
        self.save_sprites = _.debounce(self.save_sprites, 4000)
        self.save_map = _.debounce(self.save_map, 4000)
        self.save_code = _.debounce(self.save_code, 6000)
        self.parseUrl()
        self.root = self['$root']['$data']
        if self._params.get("id"):
            self.root.title = self._params.get("id")
            self.root.selectedSprite = 0
            self.load()
        guy.on("server-ready", self.boot)
        self['$root']['$on']('load-from-server', self.load_from_server)
        self['$root']['$on']('game-loading', self.set_no_game)
        self['$root']['$on']('game-eject', self.eject)
        self['$root']['$on']('save-to-server', self.save_server)
        self['$root']['$on']('save-to-local', self.save_local)
        self['$root']['$on']('preview-made', self.save_preview)
        self['$root']['$on']('update-pixels', self.save_sprites)
        window.addEventListener("popstate", self.popGame)
        window.cartridge = self

    async def popGame(self, ev):
        console.log('popstate')
        self.parseUrl()
        await self.boot()

    async def boot(self):
        if self._params.get("id"):
            await self.load_from_server(self._params.get("id"))
        else:
            self.clear()
            self['$root']['$emit']("game-reset")

    def parseUrl(self):
        uri = window.location.search.substring(1)
        self._params = URLSearchParams(uri)

    async def load_from_server(self, title):
        console.log("LOADING " + title)
        if title == self.root.title:
            return console.warn('Tried to load same game.')
        if title not in await fs.readdir("/"):
            fs.mkdir('/' + title, fsOpMade)
            local_mtime = 0
        else:
            local_mtime = (await fs.lstat('/'+title)).mtimeMs / 1000
        
        try:
            remote_mtime = await server.get_mtime(title)
        except:
            remote_mtime = 0  # Unsaved game
        console.log("*** remote:" + remote_mtime + " > local:" + local_mtime + " -> " + (remote_mtime - local_mtime))
        if remote_mtime > local_mtime:
            try:
                code = await server.read_file(title, "code.js")
                sprites = await server.read_file(title, "sprites.json")
                maps = await server.read_file(title, "map.json")
            except:
                console.error("failed to load remote")

            if code and sprites and maps and \
                len(code) > 0 and len(sprites) > 0 and len(maps) > 0:
                if local_mtime > 0:
                    fs.rename('/' + title, '/' + title, fsOpMade)  # quick way to rmdir -rf
                    fs.mkdir('/' + title, fsOpMade) # we make dir again (no touch op on lightningfs)
                fs.writeFile('/' + title + '/code.js', code, 'utf8')
                fs.writeFile('/' + title + '/sprites.json', sprites, 'utf8')
                fs.writeFile('/' + title + '/map.json', maps, 'utf8')
                console.warn("loaded remote")
        else:
            if local_mtime > 0:
                console.warn("loaded working copy")
            else:
                console.warn("unable to access game either remote or local copy")
                return

        self.root.title = title
        self.root.selectedSprite = 0
        await self.load()

    async def set_no_game(self):
        # This should help trigger animations
        self.root.title = ''
        self['$root']['$emit']('game-pause', 'loading')

    async def load(self):
        title = self.root.title
        gamedir = await fs.readdir('/' + title)
        if 'code.js' in gamedir:
            text = await fs.readFile('/' + title + '/code.js', 'utf8')
            self.root.code = text
        if 'sprites.json' in gamedir:
            text = await fs.readFile('/' + title + '/sprites.json', 'utf8')
            sprites = JSON.parse(text)
            for item in sprites.keys():
                Vue.set(self.root.sprites, item, sprites[item])
        if 'map.json' in gamedir:
            text = await fs.readFile('/' + title + '/map.json', 'utf8')
            maps = JSON.parse(text)
            for row in range(maps.length):
                Vue.set(self.root.map, row, maps[row])
        self['$root']['$emit']("game-loaded")
        self['$root']['$emit']('loaded-pixels')
        setTimeout(self.save_local, _.random(1000, 3000))

    async def save_server(self, make_preview=True):
        title = self.root.title
        self.setUnchanged()
        if title:
            console.log("SAVING TO SERVER")
            server.write_file(title, 'map.json', JSON.stringify(self.root.map))
            server.write_file(title, 'sprites.json', JSON.stringify(self.root.sprites))
            server.write_file(title, 'code.js', self.root.code)
            if make_preview:
                self['$root']['$emit']('make-preview')

    def setUnchanged(self):
        self.root.isChangedCode = False
        self.root.isChangedSprites = False
        self.root.isChangedMap = False

    async def save_preview(self, preview):
        title = self.root.title
        server.write_img(title, 'preview.png', preview)

    def clear(self):
        self.root.title = ''
        self.root.code = game_template
        for item in range(128):
            Vue.set(self.root.sprites, item, range(8).map(lambda: " "*8))
        for row in range(80):
            Vue.set(self.root.map, row, range(200).fill(null))
        self.root.selectedSprite = 0

    def eject(self):
        self.clear()
        history.pushState('data', 'SUPER8', '/')
        self.setUnchanged()
        self['$root']['$emit']('game-loaded')
        self['$root']['$emit']('loaded-pixels')

    def save_local(self):
        title = self.root.title
        if title:
            console.log("SAVING ALL")
            fs.mkdir('/' + title, fsOpMade)
            fs.writeFile('/' + title + '/sprites.json', JSON.stringify(self.root.sprites), 'utf8')
            fs.writeFile('/' + title + '/code.js', self.root.code, 'utf8')
            fs.writeFile('/' + title + '/map.json', JSON.stringify(self.root.map), 'utf8')

    def WATCH_sprites(self, newSprites, oldSprites, name='sprites'):
        self.save_sprites()

    def save_sprites(self):
        title = self.root.title
        if title and self.root.isChangedSprites:
            console.log("SAVING SPRITES")
            fs.writeFile('/' + title + '/sprites.json', JSON.stringify(self.root.sprites), 'utf8')

    def WATCH_code(self, newCode, oldCode, name='code'):
        if newCode!=oldCode and \
                oldCode.replace(' ','').replace('\t', '')!=game_template.replace(' ',''):
            self.save_code()

    def save_code(self):
        title = self.root.title
        if title and self.root.isChangedCode:
            console.log("SAVING CODE")
            fs.writeFile('/' + title + '/code.js', self.root.code, 'utf8')

    def WATCH_map(self, newCode, oldCode, name='map'):
        self.save_map()

    def save_map(self):
        title = self.root.title
        if title and self.root.isChangedMap:
            console.log("SAVING MAP")
            fs.writeFile('/' + title + '/map.json', JSON.stringify(self.root.map), 'utf8')


</script>
