<template>
    <div>
        <div v-shortkey="['pause']" @shortkey="toggle_pause" id="buttons">
            <v-btn width="20" depressed small v-if="state=='running'" title="PAUSE" @click="pause_event"><span class="oi oi-media-pause" data-glyph="media-pause"></span></v-btn>
            <v-btn width="20" depressed small v-if="state=='paused'" title="UNPAUSE" @click="unpause"><span class="oi oi-media-play"  style="color:green" data-glyph="media-play"></span></v-btn>
            <v-btn width="20" depressed small v-if="state=='errored'" title="UNPAUSE" @click="unpause"><span class="oi oi-media-play"  style="color:red" data-glyph="media-play"></span></v-btn>
            <v-btn width="20" depressed small v-shortkey="['alt', 'r']" @shortkey="reset"
                @click="reset" title="RESET"><span class="oi oi-reload" data-glyph="reload"></span></v-btn>
            <v-btn width="20" depressed small v-shortkey="['alt', 'enter']" @shortkey="full"
                @click="full" title="FULL"><span class="oi oi-fullscreen-enter" data-glyph="fullscreen-enter"></span></v-btn>
        </div>
        <div ref="p5sketch" id="p5sketch" @mousedown="mousedown">
            <div ref="controls" style="width: 0px; overflow: visible; height: 0px; position: absolute; bottom: 0px; left: 0px"></div>
            <v-btn-toggle rounded style="position: absolute; right: 20px; bottom: 10px; opacity: 0.1">
            <v-btn tabindex="-1"
                @pointerdown="sketch.canvas.focus(); keydownHandler({key:'b'}); $event.preventDefault()"
                @touchstart="sketch.canvas.focus(); keydownHandler({key:'b'}); $event.preventDefault()"
                @touchend="keyupHandler({key:'b'});"
                @pointerup="keyupHandler({key:'b'});">
                    B
            </v-btn>
            <v-btn tabindex="-1"
                @pointerdown="sketch.canvas.focus(); keydownHandler({key:'a'}); $event.preventDefault()"
                @touchstart="sketch.canvas.focus(); keydownHandler({key:'a'}); $event.preventDefault()"
                @touchend="keyupHandler({key:'a'});"
                @pointerup="keyupHandler({key:'a'});">
                    A
            </v-btn>
            </v-btn-toggle>
        </div>
        <div style="margin: -20px auto">
            <v-chip :class="{hidden: state!='paused'}" color="orange" absolute>PAUSED</v-chip>
        </div>
        <v-alert color="#385dc966" v-if="msg"
            style="padding: 0px; position: absolute; align-self: center; margin-top: -25%">
            <div id="log">
                <v-avatar>
                    <v-icon style="color: lightblue">oi oi-script</v-icon>
                </v-avatar> {{msg}}
            </div>
        </v-alert>
        <v-alert color="#385dc966" style="position: absolute; align-self: center" v-if="state=='errored'">
            <div id="traceback">
                <v-avatar>
                    <v-icon style="color: orangered">oi oi-flag</v-icon>
                </v-avatar> {{err}}
            </div>
        </v-alert>
    </div>
</template>

<script lang="python">

W, H = (200, 160)

def icon_curry(p5, font):

    def get_glyph(name):
        for i in document.styleSheets:
            s = document.styleSheets[i]
            if s.href and 'iconic' in s.href:
                for ridx in s.rules:
                    rule = s.rules[ridx]
                    if rule.selectorText and name in rule.selectorText:
                        return rule.style.content.replace('"','')
        raise Error("icon not found");

    def icon(glyph, x, y):
        p5.push()
        p5.textFont(font)
        p5.text(get_glyph(glyph), x, y)
        p5.pop()
    return icon

def sandbox(js):
    StateMachine = window.StateMachine
    p5 = this.p5.createGraphics(W, H)
    p5.iconicFont = this.p5.openIconic
    p5.iconic = icon_curry(p5, this.p5.openIconic)
    p5.loadPixels()

    pixData = pixelData({ 'width': W, 'height': H})

    s8 = frameBufferCanvasAPI({
          'pixels': pixData.pixels,
          'ctx': this.p5.canvas.getContext('2d'),
          'width': W,
          'height': H,
          'sprites': root['$data'].sprites,
          'map': root['$data'].map
        })
    for item in s8.keys():
        window[item] = s8[item]

    log = this.log
    range = _.range
    clamp = _.clamp
    random = _.random
    init = lambda: {}
    update = lambda: {}
    draw = lambda: None

    def drawActors(state, fade):
        if state.actors:
            for actor in state.actors:
                sprite( actor.x, actor.y, actor.sprite,
                  actor.trailBrighten or -3 if fade else actor.brighten,
                  actor.flipH,
                  actor.flipV )

    eval(js)
    this.init = init
    this.update = update
    this.draw = draw
    this.p5buffer = p5
    this.pixData = pixData
    return this

vm_init = None

class Component:
    def __init__(self, width, code):
        self.namespace = {}
        self.msg = ''
        self.state = 'running'
        self.err = ''
        self.ready = False
        self.focused = False
        self.intro_frms = 40
        self.maps = []
        self.keys = Set()
        self.lastLog = None

    def noLog(self):
        self.msg = ''

    def log(self, msg):
        if self.lastLog!=None:
            self.lastLog.cancel()
        self.msg = msg
        self.lastLog = _.debounce(self.noLog, 5000, {'leading': False, 'trailing': True})
        self.lastLog()

    def error(self, err):
        self.err = err.message or err
        self.stack = getEvaledErrorPosition(err) or {}
        self.stack.line = self.stack.line -1 + ''
        self.stack.err = self.err
        self.stack.trace = err.stack
        self['$root']['$emit']('error', self.stack)
        if self.state != 'errored':
            self.pause('errored')

    def unpause(self):
        if self.sketch:
            self.state = 'running'
            self.sketch.loop()
        console.log('state is ' + self.state)

    def pause_event(self):
        self.pause()

    def pause(self, newState='paused'):
        if self.sketch:
            self.sketch.noLoop()
            self.state = newState
        console.log('state is ' + self.state)

    def toggle_pause(self, state):
        if self.sketch:
            if self.state=='running':
                self.sketch.noLoop()
                self.state = 'paused'
            else:
                self.state = 'running'
                self.sketch.loop()
        console.log('state is ' + self.state)

    def reset(self):
        self.ready = False
        if self.nipple:
            self.nipple.destroy()
        global vm_init
        self.msg = ''
        self.vm_init_str = undefined
        vm_init = undefined
        if self.sketch:
            self.sketch.draw = lambda: None
            self.sketch.setup = undefined
            self.sketch.canvas.remove()
        self.run(True)

    def run(self, compile=False):
        def done(sketch):
            self.sketch = sketch
            def preloadFont():
                fontfile = '/node_modules/@icon/open-iconic/open-iconic.woff'
                sketch.openIconic = sketch.loadFont(fontfile)
            sketch.preload = preloadFont
            sketch.setup = lambda: self.setup(sketch, compile)
            sketch.draw = lambda: self.draw(sketch)
            self.state = 'running'
        P5(done, 'p5sketch')

    async def getShot(self):
        dataUrl = self.sketch.canvas.toDataURL()
        self['$root']['$emit']('preview-made', dataUrl)

    def MOUNTED(self):
        self.update_code = _.debounce(self.update_code, 400)
        self.error = _.debounce(self.error, 0, {'leading': False, 'trailing': True})
        self.maps = self['$root']['$data'].map
        self['$root']['$on']("game-reset", self.reset)
        self['$root']['$on']("game-loaded", self.reset_and_focus)
        self['$root']['$on']('game-pause', self.pause)
        self['$root']['$on']('game-unpause', self.unpause)
        def on_resize():
            if document.fullscreenElement:
                return
            self.adjustProportion(self.width[:-2])
        window.addEventListener('resize', on_resize)
        window.game_player = self

        self.keys = Set()
        document.addEventListener('keydown', self.keydownHandler)
        document.addEventListener('keyup', self.keyupHandler)
        document.addEventListener('fullscreenchange', self.layoutFullscreen)
        self['$root']['$on']('make-preview', self.getShot)

    def layoutFullscreen(self):
        if document.fullscreenElement:
            self.adjustProportion(window.innerWidth)
        else:
            self.adjustProportion(self.width[:-2])

    def BEFOREDESTROY(self):
        self.nipple.destroy()
        document.removeEventListener('keydown', self.keydownHandler)
        document.removeEventListener('keyup', self.keyupHandler)

    # Listen for key down events.
    def keydownHandler(ev):
        self.keys.add(ev.key)

    def keyupHandler(ev):
        self.keys.delete(ev.key)

    async def compile(self, newCode):
        result = await Promise(lambda resolve: window.infLoopBuster({ 'markup': newCode },
                                                                    { 'succeed': resolve }))
        if result.error:
            console.error(result)
        else:
            newCode = result.markup
        resetTimer()

        global vm_init
        API = { 'p5': self.sketch,
                'log': self.log }
        try:
            def eval_in_context(js, context):
                bound = sandbox.bind(context)
                return bound(js)
            inner = eval_in_context(newCode, API)
            if inner.init:
                if inner.init.toString() != self.vm_init_str:
                    if self.sketch.frameCount > self.intro_frms:
                        newState = {}
                        try:
                            await inner.init(newState)
                        except Exception as err:
                            self.error(err)
                        Object.assign(self.namespace, newState)
                    self.vm_init_str = inner.init.toString()
                    vm_init = inner.init.bind(inner)

            self.vm_update = inner.update.bind(inner)
            self.vm_draw = inner.draw.bind(inner)
            self.p5buffer = inner.p5buffer
            self.pix_data = inner.pixData
        except Exception as err:
            self.error(err)

    def WATCH_width(self, newWidth, oldWidth, name='width'):
        width = newWidth[:-2]
        self.adjustProportion(width)

    def isTemplate(self):
        # True if game template was unmodified
        return self['$root']['$data'].code\
                   .replace('\t', '').replace(' ','') == game_template.replace(' ','')


    def adjustProportion(self, width):
        ratio = width / window.innerWidth * 4.5
        self.sketch.canvas.style.width = 20 * ratio + "vw"
        self.sketch.canvas.style.height = 16 * ratio + "vw"

    def WATCH_code(self, newCode, oldCode, name='code'):
        self.update_code()

    async def update_code(self):
        if self.ready:
            await self.compile(self['$root']['$data'].code)
            if self.state == 'errored':
                self.unpause()

    def WATCH_maps(self, newMaps, oldMaps, name='maps'):
        if window.resetMap:
            resetMap()

    def WATCH_ready(self, ready, oldState, name='ready'):
        if ready:
            self.adjustProportion(420)
            self.compile(self['$root']['$data'].code)
            if self.focused:
                self.sketch.canvas.focus()

    def onfocus(self):
        self.focused = True

    def onblur(self):
        self.focused = False

    def mousedown(self):
        self.sketch.canvas.focus()

    def setupJoy(self):
        self.nipple = nipplejs.create({"zone": self['$refs'].controls,
                                       "mode": "static",
                                       "restOpacity": 0.1,
                                       "position": {'bottom': '60px', 'left': '60px'},
                                       "size": 70 })
        def end():
            self.keys.delete("ArrowUp")
            self.keys.delete("ArrowDown")
            self.keys.delete("ArrowLeft")
            self.keys.delete("ArrowRight")
        self.nipple.on('end', end)
        def move(ev, data):
            self.sketch.canvas.focus()
            end()
            dir = float(data.angle.radian)
            PI = self.sketch.PI
            PI_QUART = self.sketch.QUARTER_PI
            if data.distance > 10:
                if Math.abs(PI_QUART - dir) < PI_QUART/2:
                    self.keys.add("ArrowUp")
                    self.keys.add("ArrowRight")
                elif Math.abs(PI/2 - dir) < PI_QUART/2:
                    self.keys.add("ArrowUp")
                elif Math.abs(3*PI_QUART - dir) < PI_QUART/2:
                    self.keys.add("ArrowUp")
                    self.keys.add("ArrowLeft")
                elif Math.abs(PI - dir) < PI_QUART/2:
                    self.keys.add("ArrowLeft")
                elif Math.abs(5*PI_QUART - dir) < PI_QUART/2:
                    self.keys.add("ArrowDown")
                    self.keys.add("ArrowLeft")
                elif Math.abs(6*PI_QUART - dir) < PI_QUART/2:
                    self.keys.add("ArrowDown")
                elif Math.abs(7*PI_QUART - dir) < PI_QUART/2:
                    self.keys.add("ArrowDown")
                    self.keys.add("ArrowRight")
                else:
                    self.keys.add("ArrowRight")
        self.nipple.on('move', move)

    def setup(self, sketch, compile=False):
        sketch.noSmooth()
        sketch.pixelDensity(1)
        sketch.createCanvas(W, H)
        sketch.canvas.tabIndex = 0
        sketch.canvas.onfocus = self.onfocus
        sketch.canvas.onblur = self.onblur
        sketch.canvas.ondblclick = self.full
        sketch.frameRate(30)
        sketch.strokeCap(p5.SQUARE)
        sketch.fill('#0000')
        ctx = sketch.canvas.getContext("2d")
        ctx.globalAlpha = 1
        ctx.imageSmoothingEnabled = False
        self.ready = True
        setTimeout(self.setupJoy, 200)
        setTimeout(self.layoutFullscreen)
        if compile:
            self.compile(self['$root']['$data'].code)

    def reset_and_focus(self):
        self.reset()
        self.focused = True

    def full(self):
        self.sketch.canvas.focus()
        self['$refs'].p5sketch.requestFullscreen()

    async def draw(self, sketch):
        global vm_init
        if sketch.frameCount == self.intro_frms:
            newState = {}
            try:
                await vm_init(newState)
            except Exception as err:
                self.error(err)
            Object.assign(self.namespace, newState)
        if sketch.frameCount > self.intro_frms:
            if self.isTemplate():
                sketch.background('#3e404b')
                sketch.push()
                sketch.stroke(255 if int(sketch.frameCount / 20) % 2 else 128)
                sketch.text('* SYSTEM READY *', 42, 30)
                sketch.text('INSERT GAME CARTRIDGE', 22, 100)
                sketch.text('OR CREATE YOUR OWN', 32, 120)
                sketch.pop()
                return
            if self.focused:
                input = getUserInput(self.keys)
                self.p5buffer.keyIsPressed = sketch.keyIsPressed
                self.p5buffer.key = sketch.key
                self.p5buffer.keyCode = sketch.keyCode
                self.p5buffer.mouseX = sketch.mouseX
                self.p5buffer.mouseY = sketch.mouseY
                self.p5buffer.mouseButton = sketch.mouseButton
                self.p5buffer.mouseIsPressed = sketch.mouseIsPressed
            else:
                input = Set()
            try:
                self.p5buffer.frameCount = sketch.frameCount - self.intro_frms
                if self.vm_update:
                    elapsed = sketch.millis() - self.last_frame or 0
                    self.namespace = self.vm_update(self.namespace, input, elapsed) or self.namespace
                    self.last_frame = sketch.millis()
                self.p5buffer.updatePixels()
                self.vm_draw(self.namespace)
                self.pix_data.writePixelDataToCanvas(self.sketch.canvas.getContext('2d'))
                self.sketch.image(self.p5buffer, 0, 0)
            except Exception as err:
                self.error(err)
        else:
            sketch.push()
            sketch.background(0 + sketch.random(10))
            sketch.stroke(255)
            sketch.strokeWeight(2)
            sketch.fill(128)
            sketch.ellipse(100,70,50,50)
            sketch.noStroke()
            sketch.fill(128 + sketch.frameCount + sketch.random(100))
            sketch.arc(100,70,48,48,-sketch.HALF_PI,
                        sketch.frameCount / self.intro_frms * sketch.TWO_PI - sketch.HALF_PI)
            sketch.textFont('mononoki')
            sketch.textSize(22)
            sketch.textAlign(sketch.CENTER)
            sketch.text('SUPER-8', 100, 122.5)
            sketch.fill(0)
            sketch.textAlign(sketch.RIGHT)
            sketch.text(self.intro_frms - sketch.frameCount, 109.5, 76.5)
            sketch.pop()

</script>

<style scoped>
:scope {
    flex-direction: column;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    width: 100%;
}
#p5sketch {
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.p5Canvas {
    padding: 5px;
    box-shadow: inset 0 50 4px #000000;
    flex: 0 0 auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: #3E404B;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 100%;
    max-height: 83vh;
}
.p5Canvas:focus {
    border: 1px solid orange;
    box-shadow: inset 0 50 4px orange;
    outline: none;
}
#buttons {
    display: flex;
    padding: 8px 2px;
    padding-right: 35px;
    margin-top: -46px;
    right: 0.5em;
    justify-content: center;
    flex-direction: row;
}
#traceback {
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 100%;
  color: orangered;
}
#log {
  text-align: center;
  font-weight: bold;
  font-size: small;
  color: lightblue;
  padding-right: 10px;
}
.hidden {
  visibility: hidden;
}
</style>
