<template>
    <div>
    <v-card :width="width" flat>
        <v-card-title style="flex-wrap: nowrap; justify-content: space-between; padding: 2px">
            <span style="display:flex; align-items: center">
                <v-avatar style="cursor: pointer" @click="reset"><v-icon>oi oi-info</v-icon></v-avatar>
                <div style="white-space: nowrap; overflow-x: auto"
                 v-text="title || 'API'"></div></span>
                <div style="display: flex; flex: 1 1 auto; justify-content: flex-end; text-align: center; margin: 0px 4px">
            <v-btn :color="topic=='s8api'? '#C4A388': 'default'"
                 style="color:black"
                small right @click="setApi('s8api', $event)">Script-8</v-btn>&nbsp;<v-btn :color="topic=='p5api'? 'error': 'default'"
                 style="color:black"
                small @click="setApi('p5api', $event)">p5.js</v-btn>
                </div>
        </v-card-title>
        <v-card-text ref="helpContent"
            :style="{height: getHeight(), overflowY: 'scroll'}">
            <v-card-subtitle v-if="detail.length>0" v-html="detail">
            </v-card-subtitle>
            <v-treeview
                shaped
                hoverable
                color="warning"
                transition
                expand-icon="oi oi-caret-bottom"
                open-all
                open-on-click
                dense
                activatable
                @update:active="showItem"
                :items="content"
              ></v-treeview>
        </v-card-text>
    </v-card>
    </div>
</template>

<script lang="python">

class Component:

    def __init__(self, player, width):
        self.topic = "s8api"
        self.tree = []
        self.content = []
        self.detail = ""
        self.title = ""

    def MOUNTED(self):
        window.infoWiki = self
        window.addEventListener('resize', lambda: self['$forceUpdate']())
        if window.server:
            self.getWikisoon()
        else:
            guy.on("server-ready", self.getWikisoon)

    def DESTROYED(self):
        window.removeEventListener('resize', lambda: self['$forceUpdate']())

    def setApi(self, api, ev):
        if ev:
            ev.preventDefault()
        self.content = []
        self.detail = ""
        self.title = ""
        self.topic = api
        self.getWiki()

    def reset(self):
        self.detail = ""
        self.title = ""

    def showItem(self, item):
        console.log('showItem ')
        if item and ',' in item[0]:
            def get_item(keystring, content, rest=None):
                if not rest:
                    rest = keystring
                # Need deconstructuring assignment, starred arguments not supported by pscript
                RawJS("let [key, ...subkeys] = rest.split(',')")
                for i,node in enumerate(content):
                    if keystring.startswith(node['id']):
                        if keystring==node['id']:
                            console.log('BINGO')
                            return node
                        return get_item(keystring, node.children, subkeys.join())
            
            menu_item = get_item(item[0], self.content)
            self.detail = menu_item['detail']
            self.title = menu_item['name']
            container = self['$refs']['helpContent']
            container.scrollTop = 0
        else:
            self.detail = ""
            self.title = ""

    def getWikisoon(self):
        setTimeout( self.getWiki, Math.random(3000) )

    async def getWiki(self):
        if window.server is not undefined:
            self.content = await server.get_wiki(self.topic)
            return self.content

    def getHeight(self):
        w = parseInt(self.width)
        if self.player:
            h_game = 15/20 * w + 95
            return window.innerHeight - h_game + 'px'
        else:
            return window.innerHeight - 100 + 'px'

</script>

<style :scoped>

:scope {
    margin: 0px;
 }
 code {
     background-color: #282828 !important;
     color: lightblue !important;
 }
 #example code {
     margin: 10px 0px;
     padding: 0px 20px;
     width: 100%;
 }
</style>
