<template>
    <div id="map_maker">
        <div class="container">
           <canvas id="tiled_map"
               @mouseup.left="mouseisDown=false"
               @mouseup.right="mouseisDown=false; tool=paint"
               @mouseleave.left="mouseisDown=false" @mouseleave.right="mouseisDown=false; tool=paint"
               @mousedown.prevent.left="clickpaint" @mousedown.right="clickerase"
               oncontextmenu="return false"
               @mousemove="tool" width="200" height="160" ref="tiled_map">
            </canvas>
            <div id="grid" style="width: 0px; overflow: visible;">
                <svg draggable="false"
                      :width="25 * pix_size" :height="20 * pix_size">
                  <template v-for="index_y in _.range(20)">
                    <template v-for="index_x in _.range(25)">
                      <rect :x="index_x * pix_size" :y="index_y * pix_size"
                            :width="pix_size" :height="pix_size" fill="#0000"
                              stroke="rgba(128,128,128,.4)" :stroke-width="1">
                      </rect>
                    </template>
                  </template>
                </svg>
            </div>
            <div id="buttons">
                 <v-btn class="tools" @mousedown="tool=erase" title="Erase"
                        :class="{active:tool==erase}" tile outlined>
                     <span class="oi oi-delete" data-glyph="oi-delete"></span>
                 </v-btn>
                 <v-btn class="tools" @mousedown="tool=paint" title="Paint"
                        :class="{active:tool==paint}" tile outlined>
                     <span class="oi oi-brush" data-glyph="oi-brush"></span>
                 </v-btn>

            </div>
        </div>
        <div class="container">
            <div id="full_map_sel">
                <canvas @mousedown="moveMap" id="full_map" width="1600" height="640" ref="full_map"></canvas>
                <div style="width: 0px; overflow: visible;">
                    <div id="selector" :style="{marginTop: selTop, marginLeft: selLeft}"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="python">

class Component:

    def __init__(self, selectedSprite):
        self.x = 0
        self.y = 0
        self.maps = []
        self.mouseisDown = False
        self.tool = None
        self.pix_size = 16

    def CREATED(self):
        self.tool = self.paint

    def MOUNTED(self):
        self.sprites = self['$root']['$data'].sprites
        self.maps = self['$root']['$data'].map
        self.root = self['$root']['$data']
        self.pixData = pixelData({ 'width': 200, 'height': 160 })
        self.pixDataMap = pixelData({ 'width': 1600, 'height': 640 })
        self.ctx = self['$refs'].tiled_map.getContext('2d')
        self.ctxMap = self['$refs'].full_map.getContext('2d')
        self.s8 = frameBufferCanvasAPI({
              'pixels': self.pixData.pixels,
              'ctx': self.ctx,
              'width': 200,
              'height': 160,
              'sprites': self['$root']['$data'].sprites
            })
        self.s8map = frameBufferCanvasAPI({
              'pixels': self.pixDataMap.pixels,
              'ctx': self.ctxMap,
              'width': 1600,
              'height': 640,
              'sprites': self['$root']['$data'].sprites
            })
        self.draw()
        self['$root']['$on']('update-pixels', self.draw)
        self['$root']['$on']('loaded-pixels', self.draw)
        window.map_editor = self

    def erase(self, ev):
        if self.mouseisDown:
            x, y = ev.offsetX+1, ev.offsetY+1
            c = ev.target
            scaleX = c.width/c.offsetWidth or 1
            scaleY = c.height/c.offsetHeight or 1
            X = Math.floor(x*scaleX/8) + self.x * 25
            Y = Math.floor(y*scaleY/8) + self.y * 20
            Vue.set(self.maps, Y, self.maps[Y][:X].concat([None],
                        self.maps[Y][X+1:]))

    def clickpaint(self, ev):
        self.setChanged()
        self.mouseisDown = True
        self.tool(ev)

    def clickerase(self, ev):
        self.setChanged()
        self.mouseisDown = True
        self.erase(ev)
        self.tool = self.erase

    def moveMap(self, ev):
        x, y = ev.offsetX+1, ev.offsetY+1
        c = ev.target
        scaleX = c.width/c.offsetWidth or 1
        scaleY = c.height/c.offsetHeight or 1
        X = Math.floor(x*scaleX)
        Y = Math.floor(y*scaleY)
        self.x = Math.floor(X/200)
        self.y = Math.floor(Y/160)
        self.draw()

    def paint(self, ev):
        if self.mouseisDown:
            x, y = ev.offsetX+1, ev.offsetY+1
            c = ev.target
            scaleX = c.width/c.offsetWidth or 1
            scaleY = c.height/c.offsetHeight or 1
            X = Math.floor(x*scaleX/8) + self.x * 25
            Y = Math.floor(y*scaleY/8) + self.y * 20
            Vue.set(self.maps, Y, self.maps[Y][:X].concat([self.selectedSprite],
                        self.maps[Y][X+1:]))

    def WATCH_maps(self, newMaps, oldMaps, name='maps'):
        self.draw()

    def draw(self):
        self.pixData.pixels.fill("#0000")
        for row in range(20):
            for column in range(25):
                sprite = self.maps[row + self.y * 20][column + self.x * 25]
                if sprite != None:
                    self.s8.sprite(column * 8, row * 8, sprite)

        self.pixData.writePixelDataToCanvas(self.ctx)
        self.drawMaps()

    def setChanged(self):
        self.root.isChangedMap = True

    def drawMaps(self):
        self.pixDataMap.pixels.fill("#0000")
        for row in range(80):
            for column in range(200):
                sprite = self.maps[row][column]
                if sprite != None:
                    self.s8map.sprite(column * 8, row * 8, sprite)
        self.pixDataMap.writePixelDataToCanvas(self.ctxMap)

    def COMPUTED_selTop(self):
        y = Math.floor(self.y / 8) * 160
        return self.y * 50 + 0.5 + 'px'

    def COMPUTED_selLeft(self):
        x = Math.floor(self.x / 8)*200
        return self.x * 62.5 + 'px'

</script>

<style scoped>
:scope {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: auto;
}
#palette {
    user-select: none;
    display: flex;
    flex-direction: column;
    margin: 1em;
}
#tiled_map {
    height: 320px;
    width: 400px;
}
#full_map {
    height: 200px;
    width: 500px;
}
canvas {
    cursor: crosshair;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    flex: 0 1 auto;
    border: 1px solid rgba(128,128,128,.4);
    box-shadow: inset 0 0 2px #000000;
}
div.container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}
#full_map_sel {
    flex: 0 0 auto;
    display: flex;
}
#selector {
    position: relative;
    transform: translateX(-500px);
    width: 62.5px;
    height: 50px;
    border: 1px solid orange;
    box-shadow:         inset 0 0 4px orange;
}
#buttons {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
}
#buttons button.active{
    border: 1px solid orange;
    box-shadow:         inset 0 0 4px orange !important;
}
.tools {
    font-size: 1.2em;
    margin: 1em !important;
    height: calc(100% / 6) !important;
    width: calc(100% / 6) !important;
}
#grid {
  pointer-events: none;
  position: relative;
  transform: translateX(-399.5px) translateY(0.5px);
}

</style>
