<template>
    <v-app v-shortkey="['f9']" @shortkey.native="drawer=!drawer" style="height: 100%">
       <game_cartridge :sprites="$root.$data.sprites"
                       :map="$root.$data.map"
                       :code="$root.$data.code"></game_cartridge>
       <tool_bar initial="GAMES" v-model="current"></tool_bar>

       <v-content style="height: 100%" app>
         <div id="workarea">

         <v-app-bar v-if="!compact()"
             style="flex: 0 0 auto; border-bottom: 1px solid rgba(0,0,0,.12);" flat dense>
           <v-toolbar-title>SUPER-8: {{ title }}</v-toolbar-title>

           <v-spacer></v-spacer>

            <v-scroll-x-reverse-transition>
            <v-btn v-show="!drawer" tile outlined depressed
                   style="color: grey; border: 1px solid rgba(0,0,0,.12);"
                   @click="drawer = !drawer"
            >
                    <span class="oi oi-expand-right" data-glyph="expand-right"></span>
            </v-btn>
            </v-scroll-x-reverse-transition>
            <v-progress-linear color="orange" background-color="#0000" bottom fixed indeterminate v-show="loading"></v-progress-linear>
         </v-app-bar>

         <div>
         <v-expansion-panels align="center" tile flat v-model="spritesheet"
              v-shortkey="['f8']" @shortkey.native="toggle_spritesheet"
             style="flex: 0 1 auto; border-bottom: 1px solid rgba(0,0,0,.12);"
             v-show="current=='SPRITES'||current=='MAPS'">
             <v-expansion-panel>
               <v-expansion-panel-header ref="panel_header" style="height: 40px" expand-icon="oi oi-caret-bottom">
                  <template v-slot:default>
                     Sprite #{{ $root.$data.selectedSprite }}
                     <sprite_icon :selectedSprite="$root.$data.selectedSprite"></sprite_icon>
                  </template>
               </v-expansion-panel-header>
               <v-expansion-panel-content>
               <div style="flex: 0 1 auto; overflow: auto; max-height: 196px; max-width: 792px"
                  v-if="current=='SPRITES'||current=='MAPS'">
                       <pixel_editor_sidebar style="align-items: flex-end; width: 768px;"
                         ref="pixeleditor_side"></pixel_editor_sidebar>
               </div>
             </v-expansion-panel-content>
           </v-expansion-panel>
         </v-expansion-panels>
         </div>

            <code_editor ref="editor" :mark_location="mark_location" v-model="$root.$data.code"                          v-if="this.current=='SCRIPT'"></code_editor>
            <pixel_editor ref="pixeleditor" v-show="current=='SPRITES'"></pixel_editor>
            <map_editor  :selectedSprite="$root.$data.selectedSprite" ref="mapmaker" v-show="current=='MAPS'"></map_editor>
            <shelf_list v-show="current=='GAMES'"></shelf_list>

         </div>

       </v-content>

       <v-navigation-drawer @transitionend="sidebar_trans" ref="drawer" style="overflow-x: visible"
           class="d-flex" mobile-break-point="768px" v-model="drawer" :width="drawerWidth" app right clipped>
        <div class="d-flex fill-height flex-column">
          <v-toolbar style="flex: 0 0 auto; border-bottom: 1px solid rgba(0,0,0,.12);" dense flat>
           <v-scroll-x-transition>
           <v-btn small tile outlined depressed
                  v-show="drawer"
                  style="color: grey; border: 1px solid rgba(0,0,0,.12);"
                  @click="drawer = !drawer">
                   <span class="oi oi-collapse-right" data-glyph="collapse-right"></span>
           </v-btn>
           </v-scroll-x-transition>
           <v-btn-toggle value="info" style="margin-left: auto" group>
           <v-btn small style="color: grey; border: 1px solid rgba(0,0,0,.12);"
                  @click="info = !info">
                   <span class="oi oi-info" data-glyph="info"></span>
           </v-btn>
           </v-btn-toggle>
           <v-btn-toggle value="player" group>
           <v-btn small style="color: grey; border: 1px solid rgba(0,0,0,.12);"
                  @click="player = !player">
                   <span class="oi oi-eye" data-glyph="eye"></span>
           </v-btn>
           </v-btn-toggle>
           </v-toolbar>

	   <v-container style="padding: 0px; flex: 1 1 auto"
                        v-shortkey="['f10']" @shortkey="player=!player"
                        class="d-flex flex-column align-center">
	        <game_player v-show="player" :width="drawerWidth" ref="gameplayer" :code="$root.$data.code"></game_player>
	   </v-container>

	   <v-container style="padding: 0px; flex: 1 1 auto; justify-content: flex-end"
               class="d-flex flex-column align-center">
	        <info_wiki v-if="info" :player="player" :width="drawerWidth" ref="infowiki"></info_wiki>
	   </v-container>
        </div>
       </v-navigation-drawer>
       <wiki_window v-shortkey="['esc']" @shortkey.native="toggle_wiki"
       ref="dialog" action_label="Ok" action="new-game-action"></wiki_window>
    </v-app>
</template>

<script lang="python">


class Component:
    def __init__(self):
        self.current = None
        self.mark_location = None
        self.sprites = {}
        self.loading = False
        self.player = True
        self.drawerWidth = "420px"

        if window.innerWidth > 768:
            self.drawer = True
        else:
            self.drawer = False

        if window.innerHeight > 590:
            self.info = True
        else:
            self.info = False

        if window.innerHeight > 640:
            self.spritesheet = 0
        else:
            self.spritesheet = None


    def MOUNTED(self):
        self.root = self['$root']['$data']
        def show_progress():
            self.loading = True
        self['$root']['$on']("game-loading", show_progress)
        def stop_loading():
            self.loading = False
        guy.on("server-ready", stop_loading)
        def show_drawer():
            self.loading = False
            if self.root.title:
                self.drawer = True
        self['$root']['$on']("game-loaded", show_drawer)
        document.getElementById('splash').style.display = 'none'
        self.letDrawerResize()
        window.addEventListener('resize', lambda: self['$forceUpdate']())
        window.notebook = self

    def toggle_wiki(self):
        self['$root']['$emit']('toggle-wiki')

    def toggle_spritesheet(self):
        self.spritesheet = 0 if self.spritesheet is undefined else undefined

    def letDrawerResize(self):
        drawer = self['$refs']['drawer']
        border = drawer['$el'].querySelector(".v-navigation-drawer__border")
        border.style.width = '8px'
        border.style.cursor = 'ew-resize'
        border.style.backgroundColor = 'rgba(0,0,0,.01)'
        border.style.borderLeft = '1px solid rgba(0,0,0,.12)'

        def resize(ev):
            document.body.style.cursor = "ew-resize"
            is_right = drawer['$el'].classList.contains("v-navigation-drawer--right")
            if is_right:
                width = document.body.scrollWidth - ev.clientX
            else:
                width = ev.clientX
            if width < 10:
                self.drawer = False
                width = 420
            drawer['$el'].style.width = width + "px"
            self.drawerWidth = width + "px"
            self['$root']['$emit']('content-resize')

        def dragStart(ev):
            drawer['$el'].style.transition = "initial"
            document.addEventListener("pointermove", resize, False)
        border.addEventListener("mousedown", dragStart, False)
        border.addEventListener("touchstart", dragStart, False)

        def dragEnd(ev):
            drawer['$el'].style.transition = ""
            self.drawerWidth = drawer['$el'].style.width
            document.body.style.cursor = ""
            document.removeEventListener("pointermove", resize, false)
            self['$root']['$emit']('content-resize')
        document.addEventListener("mouseup", dragEnd ,False)
        document.addEventListener("touchend", dragEnd ,False)

    def sidebar_trans(self):
        if self.drawer:
            self['$root']['$emit']('game-unpause')
        else:
            self['$root']['$emit']('game-pause')

    def WATCH_player(self, newplayer, oldplayer, name='player'):
        if self.player:
            self['$root']['$emit']('game-unpause')
        else:
            self['$root']['$emit']('game-pause')


    def COMPUTED_title(self):
        titles = {
            'SCRIPT': 'Scripts',
            'SPRITES': 'Sprites',
            'MAPS': 'Maps',
            'GAMES': 'Cartridges'
        }
        return titles[self.current]

    def compact(self):
        return window.innerHeight < 400

</script>

<style scoped>
  #workarea {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }
</style>
