<template>
    <div>
        <div ref="container" id="spritesheet">
            <canvas @mousedown="selectSprite" tabindex="0"
                @keydown.prevent.up="spriteUp()"
                @keydown.prevent.down="spriteDown()"
                @keydown.prevent.left="spriteLeft()"
                @keydown.prevent.right="spriteRight()"
                width="128" height="64" ref="spritesheet"></canvas>

            <div style="width: 0px; overflow: visible;">
                <div id="selector" :style="{marginTop: selTop,
                                            marginLeft: selLeft,
                                            width: selSize,
                                            height: selSize}"></div>
            </div>

            <div id="grid" style="width: 0px; overflow: visible;">
                <svg draggable="false"
                      :width="16 * pix_size" :height="8 * pix_size">
                  <template v-for="index_y in _.range(8)">
                    <template v-for="index_x in _.range(16)">
                      <rect :x="index_x * pix_size" :y="index_y * pix_size"
                            :width="pix_size" :height="pix_size" fill="#0000"
                              stroke="rgba(128,128,128,.4)" :stroke-width="1">
                      </rect>
                    </template>
                  </template>
                </svg>
            </div>
        </div>
    </div>
</template>

<script lang="python">

class Component:
    def __init__(self):
        self.sprites = None
        self.pix_size = 48

    def selectSprite(self, ev):
        x, y = ev.offsetX, ev.offsetY
        c = ev.target
        scaleX = c.width/c.offsetWidth or 1
        scaleY = c.height/c.offsetHeight or 1
        sprite = Math.floor(x*scaleX/8) + 16 *(Math.floor(y*scaleY/8))
        self['$root']['$data'].selectedSprite = sprite

    def spriteUp(self):
        self['$root']['$data'].selectedSprite = self['$root']['$data'].selectedSprite - 16
        if self['$root']['$data'].selectedSprite < 0:
            self['$root']['$data'].selectedSprite += 128

    def spriteDown(self):
        self['$root']['$data'].selectedSprite = self['$root']['$data'].selectedSprite + 16
        if self['$root']['$data'].selectedSprite > 127:
            self['$root']['$data'].selectedSprite -= 128

    def spriteLeft(self):
        self['$root']['$data'].selectedSprite = self['$root']['$data'].selectedSprite - 1
        if self['$root']['$data'].selectedSprite < 0:
            self['$root']['$data'].selectedSprite += 128

    def spriteRight(self):
        self['$root']['$data'].selectedSprite = self['$root']['$data'].selectedSprite + 1
        if self['$root']['$data'].selectedSprite > 127:
            self['$root']['$data'].selectedSprite -= 128

    def MOUNTED(self):
        self.sprites = self['$root']['$data'].sprites
        self.pixData = pixelData({ 'width': 128, 'height': 64 })
        self.ctx = self['$refs'].spritesheet.getContext('2d')
        self.s8 = frameBufferCanvasAPI({
              'pixels': self.pixData.pixels,
              'ctx': self.ctx,
              'width': 128,
              'height': 64,
              'sprites': self['$root']['$data'].sprites,
              'map': {}
            })
        self['$root']['$on']('update-pixels', self.draw)
        self['$root']['$on']('loaded-pixels', self.draw)
        self['$root']['$on']('sprite-up', self.spriteUp)
        self['$root']['$on']('sprite-down', self.spriteDown)
        self['$root']['$on']('sprite-left', self.spriteLeft)
        self['$root']['$on']('sprite-right', self.spriteRight)
        self.draw()
        window.pixel_sidebar = self
        self['$refs'].spritesheet.focus()

    def draw(self):
        self.pixData.pixels.fill("#0000")
        for sprite in self['$root']['$data'].sprites.keys():
            x = sprite % 16
            y = Math.floor(sprite/16)
            self.s8.sprite(x * 8, y * 8, sprite)
        self.pixData.writePixelDataToCanvas(self.ctx)

    def WATCH_sprites(self, newState, oldState, name='sprites'):
        self.draw()

    def UPDATED(self):
        self.draw()

    def COMPUTED_selTop(self):
        y = Math.floor(self['$root']['$data'].selectedSprite / 16)
        return y * 48 - 0.5 + 'px'

    def COMPUTED_selLeft(self):
        x = self['$root']['$data'].selectedSprite % 16
        return x * 48 - 0.5 + 'px'

    def COMPUTED_selSize(self):
        return self['$root']['$data'].zoom * 49 + 'px'

    def DESTROYED(self):
        self['$root']['$off']('update-pixels', self.draw)
        self['$root']['$off']('loaded-pixels', self.draw)
        self['$root']['$off']('sprite-up', self.spriteUp)
        self['$root']['$off']('sprite-down', self.spriteDown)
        self['$root']['$off']('sprite-left', self.spriteLeft)
        self['$root']['$off']('sprite-right', self.spriteRight)
</script>

<style scoped>
  :scope {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
  }
  #spritesheet {
    cursor: crosshair;
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 1px solid rgba(128,128,128,.4);
    height: 384px;
    width: 768px;
    overflow: hidden;
  }
  #spritesheet canvas {
    flex: 1 1 auto;
    -moz-box-shadow:    inset 0 0 4px black;
    -webkit-box-shadow: inset 0 0 4px black;
    box-shadow:         inset 0 0 4px black;
  }
  #selector {
    position: relative;
    transform: translateX(-766.5px);
    width: 49px;
    height: 49px;
    border: 1px solid orange;
    box-shadow:         inset 0 0 4px orange;
  }
  #grid {
    pointer-events: none;
    position: relative;
    transform: translateX(-766px);
  }
</style>
