<template>
    <div>
       <div :class="{compact:thin()}" id="pixeditor_container" :style="'transform: scale(' + canvasSize() + ')'" draggable="false">

         <v-toolbar class="d-flex" dense flat :height="toolbarHeight()">
         <v-slider v-model="$root.zoom"
                   vertical
                   min="1"
                   max="4"
                   color="green"
                   ticks="always"
                   tick-size="4">
            <template v-slot:prepend>
                {{ $root.zoom*8 + "x" + $root.zoom*8 }}
            </template>        
         </v-slider>

         </v-toolbar>

         <svg ref="canv" tabindex=0 draggable="false"
              @contextmenu.prevent="()=>false"
              @mouseup.left="mouseisDown=false" 
              @mouseup.right="mouseisDown=false; tool=paint" 
              @keydown.prevent.up="$root.$emit('sprite-up')"
              @keydown.prevent.down="$root.$emit('sprite-down')"
              @keydown.prevent.left="$root.$emit('sprite-left')"
              @keydown.prevent.right="$root.$emit('sprite-right')"
              @mouseleave="mouseisDown=false"
              @mousedown="$refs['canv'].focus()" :class="{compact:thin()}"
              id="pixeditor" :width="8 * pix_size_default" :height="8 * pix_size_default">

            <template v-for="(line, index_y) in sprite">
              <template v-for="(pix, index_x) in line">
                <rect :x="index_x * pix_size" :y="index_y * pix_size"
                      @mouseenter="highlight_or_do(index_x, index_y, $event)"
                      :width="pix_size" :height="pix_size" :fill="getColor(pix)"
                      stroke="rgba(128,128,128,.4)" :stroke-width="1"
                      @mousedown.left="mouseisDown=true; tool(index_x, index_y)"
                      @mousedown.right="mouseisDown=true; erase(index_x, index_y); tool=erase">
                </rect>
              </template>
            </template>
         </svg>

         <v-toolbar class="d-flex" dense flat :height="toolbarHeight()">
             <div :class="{compact:thin()}" id="toolbar">
                <v-btn class="tools" @mousedown="selectedColor=-1; tool=erase" title="erase"
                       :class="{compact:thin(), active:tool==erase}" tile outlined>
                    <span class="oi oi-delete" data-glyph="oi-delete"></span>
                </v-btn>
                <div :class="{compact:thin()}" id="palette">
                    <div v-for="(color, index) in colors" :class="{compact: thin(), active:selectedColor==index}" :title="'#'+index"
                            :style="{backgroundColor: color}" @mousedown="selectedColor=index; tool=paint">&nbsp;
                    </div>
                </div>
             </div>
         </v-toolbar>

      </div>
    </div>
</template>

<script lang="python">

class Component:
    def __init__(self):
        self.pix_size_default = 40
        self.selectedColor = 0
        self.mouseisDown = False
        self.tool = None
        self.sprites = {}

    def MOUNTED(self):
        self.root = self['$root']['$data']
        self.sprites = self['$root']['$data'].sprites
        self.tool = self.paint
        window.addEventListener('resize', lambda: self['$forceUpdate']())
        self['$root']['$on']('content-resize', lambda: self['$forceUpdate']())
        window.pixel_editor = self

    def COMPUTED_pix_size(self):
        return self.pix_size_default / self['$root']['$data'].zoom

    def COMPUTED_sprite(self):
        if self['$root']['$data'].zoom==1:
            return self.sprites[self['$root']['$data'].selectedSprite]
        else:
            sprite = [" " * self['$root']['$data'].zoom * 8 for row in range(self['$root']['$data'].zoom * 8)]
            selected = self['$root']['$data'].selectedSprite
            def getRows(sel):
                rows = []
                for row in range(8 * self['$root']['$data'].zoom):
                    line = ""
                    for col in range(self['$root']['$data'].zoom):
                        y_offset = Math.floor(row / 8) * 16
                        try:
                            line = line + self.sprites[sel+col+y_offset][row % 8]
                        except TypeError:
                            # Out of bounds
                            pass
                    rows.append(line)
                return rows
            return getRows(selected)

    def BEFOREDESTROY(self):
        window.removeEventListener('resize', lambda: self['$forceUpdate']())
        self['$root']['$off']('content-resize', lambda: self['$forceUpdate']())

    def set_pixel(self, x, y, color):
        row = Math.floor(y / 8)
        col = Math.floor(x / 8)
        selected = self['$root']['$data'].selectedSprite + col + row * 16
        # Now we've found the right sprite
        x = x % 8
        y = y % 8
        sprite = self.sprites[selected]
        Vue.set(sprite, y, sprite[y][:x] + \
                color + sprite[y][x+1:])

    def erase(self, x, y, ev):
        if self.mouseisDown:
            self.set_pixel(x, y, " ")
            self['$root']['$emit']('update-pixels')
            self.setChanged()

    def paint(self, x, y, ev):
        if self.mouseisDown:
            self.set_pixel(x, y, self.selectedColor.toString(36))
            self['$root']['$emit']('update-pixels')
            self.setChanged()

    def setChanged(self):
        self.root.isChangedSprites = True

    def highlight_or_do(self, index_x, index_y, ev):
        if self.mouseisDown:
            # do
            return self.tool(index_x, index_y, ev)

        # Highlight
        if self.tool==self.paint:
            orig = ev.target.style.fill
            ev.target.style.fill = self.getColor(self.selectedColor.toString(36))
            ev.target.style.stroke = "orange"
            def out():
                ev.target.style.fill = orig
                ev.target.style.stroke = "rgba(128,128,128,.4)"
            ev.target.onmouseout = out

        elif self.tool==self.erase:
            orig = ev.target.style.fill
            ev.target.style.fill = "#0000"
            ev.target.style.stroke = "orange"
            def out():
                ev.target.style.fill = orig
                ev.target.style.stroke = "rgba(128,128,128,.4)"
            ev.target.onmouseout = out

    def getColor(self, num):
        if num==" ":
            return "#0000"
        return window.colors.rgb(num)

    def COMPUTED_colors(self):
        return window.colors.rgbs

    def toolbarHeight(self):
        # this is for the bottom color palette (+ media css)
        if self.thin():
            return 48
        else:
            return self.pix_size_default * 8

    def thin(self):
        workarea = document.getElementById("workarea")
        if workarea and workarea.clientWidth < 440:
            return True
        return False

    def canvasSize(self):
        # this gives a proper scale for smaller screens
        if window.innerWidth < 400:
            return window.innerWidth / 400
        if window.innerHeight < 480:
            return window.innerHeight / 480
        return 1

</script>

<style scoped>
  .compact .tools {
       width: unset !important;
   }
  #toolbar.compact {
       flex-direction: row;
  }
  #pixeditor_container.compact {
    flex-direction: column;
    background-color: 'green';
  }
  #pixeditor.compact  {
    margin-bottom: 10px;
  }
  #palette.compact  {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      width: 260px;
      height: 100%;
  }
  div #palette .compact {
      height: calc(100% / 2);
      width: calc(100% / 8);
  }
  :scope {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
  }
  #info {
    color: grey;
    text-align: center;
  }
  #pixeditor_container {
    transform-origin: top left;
    flex: 0 1 auto;
    display: flex;
    margin: auto;
    text-align: center;
  }
  #pixeditor {
    cursor: crosshair;
    -moz-box-shadow:    inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow:         inset 0 0 4px #000000;
    display: flex;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 1px solid rgba(128,128,128,.4);
  }
  #pixeditor:focus {
      border: 1px solid orange;
      box-shadow: inset 0 50 4px orange;
      outline: none;
  }
  #palette {
      user-select: none;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      flex-wrap: wrap;
      height: 260px;
      width: 100%;
  }
  #palette div {
      flex: 1 1 auto;
      vertical-align: middle;
      height: calc(100% / 8);
      width: calc(100% / 2);
      display: flex;
      text-align: center;
      border: 1px solid rgba(128,128,128,.4);
      color: #8A8A8A;
      font-size: 1.2em;
      cursor: pointer;
  }
  #palette div * {
      flex: 1 1 auto;
      margin: auto;
  }
  #palette div:hover {
      box-shadow:         inset 0 0 4px rgba(128,128,128,.4);
  }
  #palette div.active, .tools.active {
    border: 1px solid orange !important;
    -moz-box-shadow:    inset 0 0 4px orange !important;
    -webkit-box-shadow: inset 0 0 4px orange !important;
    box-shadow:         inset 0 0 4px orange !important;
  }
  .tools {
      min-width: unset !important;
      width: 100%;
      padding: 2px;
  }
  #toolbar {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      padding: 8px;
  }
</style>

