<template>
    <div>
        <div id="metaform">
            <div>
                <v-btn :disabled="!isChanged"
                    v-show="$root.$data.title!='' && $root.$data.code!=''" style="color: gray" @click="save"><v-icon small>oi oi-cloud-upload</v-icon></v-btn>
                <div class="danger">
                <v-btn v-show="$root.$data.title!='' && $root.$data.code==''" style="color: gray"
                    @click="remove"><v-icon small>oi oi-trash</v-icon></v-btn>
                </div>
                <v-btn v-show="$root.$data.title==''" style="color: gray" @click="create"><v-icon small>oi oi-bolt</v-icon></v-btn>
            </div>
            <label :class="{compact:thin()}">FANTASY CONSOLE</label>
            <div>
                <v-btn style="color: gray" @click="eject"><v-icon small>oi oi-eject</v-icon></v-btn>
            </div>
        </div>
    </div>
</template>

<script lang="python">

class Component:

    def __init__(self):
        self.root = {}

    def MOUNTED(self):
        self.root = self['$root']['$data']
        self['$root']['$on']('new-game-action', self.newGame)
        self['$root']['$on']('content-resize', lambda: self['$forceUpdate']())
        window.addEventListener('resize', lambda: self['$forceUpdate']())
        window.addEventListener('beforeunload', self.checkUnsaved)

    def checkUnsaved(self, ev):
        if self.isChanged:
            ev.preventDefault()
            ev.returnValue = ''

    def newGame(self, title):
        history.pushState('data', 'SUPER8', '/?id=' + title)
        self.root.title = title
        self['$root']['$emit']('save-to-local')
        console.log('new game: ' + title)

    def save(self):
        self['$root']['$emit']('save-to-server')

    def create(self):
        self['$root']['$emit']('popup-wiki', 'new_game', 'Name your game')


    def remove(self):
        if self.root.title:
            server.remove_game(self.root.title)
            self.eject()

    def eject(self):
        self['$root']['$emit']('game-eject')

    def thin(self):
        workarea = document.getElementById("workarea")
        if workarea and workarea.clientWidth < 440:
            return True
        return False

    def COMPUTED_isChanged(self):
        if not self.root:
            return False
        return (self.root.isChangedCode or
                self.root.isChangedSprites or
                self.root.isChangedMap)

</script>

<style scoped>
  .compact {
    opacity: 0;
  }
  :scope {
    flex: 0 1 auto;
    display: flex;
    margin: -5px 0px 0px;
  }
  #metaform {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5px;
  }
  button, input {
    vertical-align: middle;
    height:50px;
    display:inline-block;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid black;
    margin: 3px;
  }
  button:hover{
    box-shadow: inset 0 0 4px #000000;
  }
  .danger:hover {
    background: repeating-linear-gradient(
            -55deg,
            darkred,
            darkred 5px,
            #0000 5px,
            #0000 10px
      );
  }
  label {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .12);
    font-style: italic;
    color: #6666;
  }
</style>

