<template>
    <div>
         <v-toolbar style="width:100%" height=160>
            <div class="d-flex flex-column" style="width: 100%; margin: 0px auto">
                <div style="border-bottom: 7px solid black; flex: 0 1 auto; overflow: hidden; width: 280px; height: 128px; margin: 0px 0px 3px 50%; transform: translateX(-50%);">
                    <v-slide-y-reverse-transition>
                    <div v-show="$root.$data.title"
                        id="inserted" class="gamecard" style="margin: 20px auto;">
                        <h2>
                            {{ unstub($root.$data.title) }}
                        </h2>
                        <v-lazy min-width="200" min-height="160"><img v-if="$root.$data.title" width=200 height=160
                            :src="'preview/' + $root.$data.title + '?'+Date.now()"></img></v-lazy>
                    </div>
                    </v-slide-y-reverse-transition>

                    <div v-show="!$root.$data.title"
                        style="text-shadow: 1px 1px 1px black; margin: 60px auto 0px; text-align: center;">
                        <v-icon color="#6666" x-large>oi oi-elevator</v-icon>
                    </div>
                </div>
                <shelf_meta></shelf_meta>
            </div>
         </v-toolbar>

         <v-scale-transition tag="div" id="gameslist" group origin="top center">
             <div v-for="game in localGames" @click="load(game)" class="gamecard" v-bind:key="game.title" :class="{disabled: game.title==$root.$data.title}">
                <h2>
                    {{ unstub(game.title) }}
                </h2>
                <v-lazy min-width="200" min-height="160">
                    <img width=200 height=160 :src="'preview/'+game.title+'#'+game.mtime.getTime()"></img>
                </v-lazy><br>
                <div class="d-flex justify-space-around">
                <div style="padding:4px">
                <v-icon style="color:gray">oi oi-hard-drive</v-icon>
                </div>
                <div style="color: gray">
                    {{
                    Math.floor ((Date.now() - game.mtime.getTime()) / 1000 / 60 / 60 / 24)
                    }} <v-icon small style="color:gray">oi oi-clock</v-icon>

                </div>
                <div class="danger" style="padding:4px">
                    <v-btn @click.stop="remove_local(game.title)" small
                        style="background-color: #282828; color: gray"><v-icon style="color:gray" small>oi oi-eject</v-icon></v-btn>
                </div>
                </div>
            </div>

             <div v-for="game in sortedGames" @click="load(game)" class="gamecard" v-bind:key="game.title" :class="{disabled: game.title==$root.$data.title}">
                <h2>
                    {{ unstub(game.title) }}
                </h2>
                <v-lazy min-width="200" min-height="160">
                    <img width=200 height=160 :src="'preview/'+game.title+'#'+game.mtime.getTime()"></img>
                </v-lazy><br>
                <div class="d-flex justify-space-around">
                <div style="padding:4px">
                <v-icon style="color:gray">oi oi-cloud</v-icon>
                </div>
                <div style="color: gray">
                    {{
                    Math.floor ((Date.now() - game.mtime.getTime()) / 1000 / 60 / 60 / 24)
                    }} <v-icon small style="color:gray">oi oi-clock</v-icon>
                </div>
                </div>
            </div>
         </v-scale-transition>
    </div>
</template>

<script lang="python">

def fsOpMade(result):
    if result:
        console.log(result)


class Component:
    def __init__(self):
        self.games = []
        self.localgames = []

    def load(self, game):
        if game.title==self['$root']['$data'].title:
            return
        container = document.getElementById('workarea')
        container.scrollTop = 0
        self['$root']['$emit']('game-loading')
        if game.title:
            self['$root']['$emit']('load-from-server', game.title)
            history.pushState('data', 'SUPER8', '/?id=' + game.title)

    def set_window_title(self):
        if self['$root']['$data'].title:
            document.title = self.unstub(self['$root']['$data'].title) + " - SUPER-8"
        else:
            document.title = "SUPER-8"

    def remove_local(self, title):
        if title:
            fs.rename('/' + title, '/' + title, fsOpMade)  # quick way to rmdir -rf
            self.update_localgames()

    async def update(self):
        console.log('getting list')
        self.games = await server.get_list()

    async def update_localgames(self):
        root_dir = await fs.readdir('/')
        localgames = []
        for directory in root_dir:
            dir_stat = await fs.stat('/'+directory)
            if dir_stat.isDirectory():
                localgames.append({
                    'title': directory,
                    'mtime': Date(dir_stat.mtimeMs)
                    })
            else:
                fs.unlink('/'+directory, fsOpMade)
        self.localgames = localgames

    async def MOUNTED(self):
        await self.update_localgames()
        guy.on("server-ready", self.update)
        guy.on("update-shelf", self.update)
        self['$root']['$on']("game-loaded", self.update_localgames)
        self['$root']['$on']("game-loaded", self.set_window_title)
        if window.server is not undefined:
            self.update()
        window.shelf = self

    def COMPUTED_sortedGames(self):
        def compare(a, b):
            if a.mtime > b.mtime: return -1
            if a.mtime < b.mtime: return 1
            return 0
        return [game for game in self.games.sort(compare)
                if game.title not in 
                self.localgames.map(lambda g: g.title)]

    def COMPUTED_localGames(self):
        def compare(a, b):
            if a.mtime > b.mtime: return -1
            if a.mtime < b.mtime: return 1
            return 0
        return self.localgames.sort(compare)

    def unstub(self, stub):
        return stub.toLocaleUpperCase().replace("_", " ")

</script>

<style scoped>
  #gameslist {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px
  }
  h2 {
    text-decoration: underline;
  }
  img {
    border: 1px solid #1115;
  }
  .gamecard {
    margin: 10px;
    text-align: center;
    color: white;
    background-color: #282828;
    box-shadow: 0px 0px 15px 0px black;
    border-radius: 10px;
    padding: 0.3em;
    cursor: pointer;
    width: 250px;
  }
  .gamecard:hover {
    box-shadow:         inset 0 0 4px orange;
  }
  #inserted:hover {
    box-shadow: 0px 0px 15px 0px black;
  }
  #inserted {
    font-weigth: bold;
    cursor: unset;
  }
  .disabled {
      opacity: 0.5;
  }
  .danger:hover {
    background: repeating-linear-gradient(
            -55deg,
            darkred,
            darkred 5px,
            #0000 5px,
            #0000 10px
      );
  }
</style>

