<template>
    <div align="right">
        <v-btn height="60" width="60" tile depressed
            style="color: grey; border: 1px solid rgba(0,0,0,.12);">
        <canvas v-if="sprites" id="iconface" :width="pix_size" :height="pix_size" ref="iconface">
        </canvas>
        </v-btn>
    </div>
</template>

<script lang="python">

class Component:
    def __init__(self, selectedSprite):
        self.sprites = {}

    def MOUNTED(self):
        self.sprites = self['$root']['$data'].sprites
        self.createFrameBuffer()
        self['$root']['$on']('update-pixels', self.draw)
        self['$root']['$on']('loaded-pixels', self.draw)
        window.sprite_icon = self
        self.draw()

    def createFrameBuffer(self):
        self.pixData = pixelData({ 'width': self.pix_size, 'height': self.pix_size })
        self.ctx = self['$refs'].iconface.getContext('2d')
        self.s8 = frameBufferCanvasAPI({
              'pixels': self.pixData.pixels,
              'ctx': self.ctx,
              'width': self.pix_size,
              'height': self.pix_size,
              'sprites': self['$root']['$data'].sprites,
              'map': {}
            })

    def draw(self):
        self.pixData.pixels.fill("#0000")
        for x in range(self['$root']['$data'].zoom):
            for y in range(self['$root']['$data'].zoom):
                self.s8.sprite(x * 8, y * 8,
                               self['$root']['$data'].selectedSprite + x + (16 * y))
        self.pixData.writePixelDataToCanvas(self.ctx)

    def WATCH_selectedSprite(self, newState, oldState, name='selectedSprite'):
        self.draw()

    def WATCH_pix_size(self, newPixSize, oldPixSize, name='pix_size'):
        self.createFrameBuffer()
        self.draw()

    def COMPUTED_pix_size(self):
        return self['$root']['$data'].zoom * 8

    def UPDATED(self):
        self.draw()

</script>

<style scoped>
  :scope {
      margin-right: 1em;
  }
  #iconface {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 60px;
    width: 60px;
    margin: 0px;
  }
</style>
