<template>
   <v-navigation-drawer width="50px" app left permanent clipped>
       <div class="d-flex" style="flex-direction: column; overflow: hidden; justify-content: space-between; height: 100%">
           <div id="tabs" @click="select">
               <div v-shortkey="['f1']" @shortkey="select"
                   data-section="SCRIPT" title="F1" :class="{tab: true, active:current=='SCRIPT'}">
                   <span class="oi oi-script" data-glyph="script"></span></div>
               <div v-shortkey="['f2']" @shortkey="select" 
                   data-section="SPRITES" title="F2" :class="{tab: true, active:current=='SPRITES'}">
                   <span class="oi oi-brush" data-glyph="brush"></span></div>
               <div v-shortkey="['f3']" @shortkey="select"
                   data-section="MAPS" title="F3" :class="{tab: true, active:current=='MAPS'}">
                   <span class="oi oi-map-marker" data-glyph="map-marker"></span></div>
               <!-- div :class="{tab: true, active:current=='musical-note'}">
                   <span class="oi oi-musical-note" data-glyph="musical-note"></span> Música </div>
               <div :class="{tab: true, active:current=='audio-spectrum'}">
                   <span class="oi oi-audio-spectrum" data-glyph="audio-spectrum"></span> Audio </div -->
               <div v-shortkey="['f4']" @shortkey="select"
                   data-section="GAMES" title="F4" :class="{tab: true, active:current=='GAMES'}">
                   <span class="oi oi-grid-three-up" data-glyph="grid-three-up"></span></div>
           </div>

           <div style="width: 100%; height: 100%; display: flex; flex-direction: column; 
                       align-items: center; justify-content: flex-end">
               <span v-if="dark" class="oi oi-sun" data-glyph="sun"></span>
               <span v-if="!dark" class="oi oi-moon" data-glyph="moon"></span>
           </div>
           <v-container style="padding: 0.5px !important; transform: rotate(90deg)" fluid>
             <v-switch v-shortkey="['shift', 'f11']" @shortkey.native="dark=!dark" title="Shift-F11"
                 dense color="orange" v-model="dark"></v-switch>
           </v-container>

           <v-btn class="toolbutton" width="50px" depressed elevation=0
                  @click="help">
                   <span class="oi oi-book" data-glyph="book"></span>
           </v-btn>
       </div>
   </v-navigation-drawer>
</template>

<script lang="python">

class Component:
    def __init__(self, initial):
        self.current = initial
        self.dark = False

    def select(self, event):
        el = event.target
        if el.dataset.section or el.parentNode.dataset.section:
            self.current = el.dataset.section or el.parentNode.dataset.section
            self['$emit']('input', self.current)

    def help():
        self['$root']['$emit']('popup-wiki', 'about')

    def MOUNTED(self):
        self.dark = window.matchMedia("(prefers-color-scheme: dark)").matches
        self['$emit']('input', self.current)
        self['$root'].dark = self.dark

    def WATCH_dark(self, sta, oldStatus, name='dark'):
        self['$vuetify'].theme.dark = sta
        self['$root']['$emit']("dark-changed", sta)
        self['$root'].dark = self.dark

</script>

<style scoped>
    :scope {
      justify-content: space-between;
    }
    .toolbutton {
      margin:0px;
      padding:5px;
      min-width:unset !important;
      color: pink;
    }
    #tabs {
      user-select: none;
      display: flex;
      flex-direction: column;
      }
    .tab {
      vertical-align: middle;
      height: 48px;
      display: inline-block;
      line-height: 48px;
      text-align: center;
      font-size: 1.4em;
      border-bottom: 1px solid rgba(0,0,0,.12);
      width: 49px;
      cursor: pointer;
    }
    .tab.active .oi {
      color: orange;
    }
    .tab.active {
      box-shadow:         inset 0 0 5px black;
      color: orange;
    }        
    .tab:hover{
      box-shadow:         inset 0 0 8px black;
    }
    .tab .oi {
        color: green;
        line-height: 50px;
        font-size: 1.2em;
    }
</style>
