<template>
   <v-dialog 
       v-model="dialog"
      width="80%"
    >

      <v-card>
        <v-card-title
          class="headline"
          primary-title
        >
        <v-btn @click="set_topic('about')" style="margin-right: 10px;" depressed small><v-icon>oi-book</v-icon></v-btn> {{ title }}
        <v-container style="width:50%" v-if="input_label.length > 0">
            <v-text-field @keydown.enter="emit_action" v-model="input_field" :label="input_label"></v-text-field>
        </v-container>
        </v-card-title>

        <v-card-text style="overflow-y: auto; max-height: 70vh; padding: 0.2em 1em" id="markdown" v-html="content"></v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="emit_action"
          >
          {{ action_label }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> 
</template>

<script lang="python">

class Component:

    def __init__(self, action_label="Close", action="window-action"):
        self.dialog = False
        self.title = ""
        self.content = ""
        self.input_field = ""
        self.input_label = ""
        self.topic = ""

    def MOUNTED(self):
        self.root = self['$root']['$data']
        def aclick(ev):
            console.log(ev.target.href)
            wiki_link = ev.target.href.split('#')[1].split('=')[1]
            console.log(wiki_link)
            self['$root']['$emit']('popup-wiki', wiki_link)
            self.setLocation()
            ev.preventDefault()
        window.aclick = aclick
        def hashchange(ev):
            ev.preventDefault()
        window.addEventListener('hashchange', hashchange)
        self.root = self['$root']['$data']
        self['$root']['$on']("popup-wiki", self.set_topic)
        self['$root']['$on']("toggle-wiki", self.toggle_wiki)
        if location.hash:
            if '=' in location.hash:
                wiki_link = location.hash.split('=')[1]
                def openWiki():
                    self['$root']['$emit']('popup-wiki', wiki_link)
                guy.on("server-ready", openWiki)
            else:
                self['$root']['$emit']('popup-wiki', 'about')
        else:
            self['$root']['$emit']('popup-wiki', 'about')
        window.wiki = self

    def setLocation(self):
        wiki_link = self.topic
        if self.root.title:
            history.pushState('data', 'SUPER8', '/?id=' + self.root.title +
                                '#w=' + wiki_link)
        else:
            history.pushState('data', 'SUPER8', '/#w=' + wiki_link)

    def hideLocation(self):
        if self.root.title:
            history.pushState('data', 'SUPER8', '/?id=' + self.root.title)
        else:
            history.pushState('data', 'SUPER8', '/')

    def set_topic(self, topic='', input_label=''):
        if topic=='':
            self.dialog = True
            return
        self.input_label = input_label
        self.topic = topic
        markdown = document.getElementById('markdown')
        if markdown:
            markdown.scrollTop = 0
        self.dialog = False
        self.show()

    async def toggle_wiki(self):
        if self.topic:
            self.dialog = not self.dialog
            if self.dialog:
                self.setLocation()
            else:
                self.hideLocation()

    async def show(self):
        if window.server is not undefined:
            await self.get_wiki()
            self.dialog = True

    async def get_wiki(self):
        if self.topic and window.server is not undefined:
            self.content = await server.get_wiki(self.topic)
            self.title = self.unstub(self.topic)

    def emit_action(self):
        self.dialog = False
        if self.input_field!='':
            self['$root']['$emit'](self.action, self.stub(self.input_field))
            self.topic = ""
            self.input_field = ""
            self.title = ""
            self.content = ""

    def unstub(self, stub):
        return stub.toLocaleUpperCase().replace("_", " ")

    def stub(self, stub):
        return stub.toLocaleLowerCase().replace(" ", "_")

    def WATCH_dialog(self, dialog, oldDialog, name='dialog'):
        if dialog:
            self['$root']['$emit']('game-pause')
        else:
            self['$root']['$emit']('game-unpause')

</script>

<style>
#markdown h1,h2,h3,h4,h5 {
    line-height: 1.3em;
    margin: 8px;
}
#markdown ul,ol {
    margin: 8px;
}
#markdown p {
    margin: 8px;
    line-height: 1.1em;
    text-align: justify;
}
.v-card__title.headline {
    padding: 6px 24px 0px !important;
}
</style>
